.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    gap: 10px; 
    padding: 10px;
  }

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 1rem;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }