.container {
    justify-content: center;
    display: grid;
}

.title {
    text-align: center;
}

.sigContainer {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    background-color: #fff;
}

.sigCanvas {
    width: 100%;
    height: 100%;
    border: 1px solid #000;
}